.main-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1px 1px;
    height: 50vh;
    width: 80vw;
}

.selectedATK { background-color: cadetblue;}
.selectedSLD { background-color: brown;}

.main-item1 { grid-area: 'main'; background-color: burlywood; }
.main-item2 { grid-area: 'main'; background-color: thistle; }
.main-item3 { grid-area: 'sidebar'; background-color: greenyellow; }
.main-item4 { grid-area: 'sidebar'; background-color: pink; }